@import url('https://fonts.googleapis.com/css2?family=Tourney:wght@200;400&display=swap');
/* font-family: 'Tourney', cursive; */
* {
    font-family: 'Tourney',cursive;
}

body {
    background-image: linear-gradient(90deg,rgba(0, 128, 128, 0.651),rgba(255, 255, 0, 0.678));
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    flex-direction: column;
}

form {
    min-height: 400px;
    min-width: 300px;
    background-color: rgba(211, 211, 211, 0.432);
    border-radius: 10px;
    padding: 10px;
    text-align: center;
}
form>p {
    margin-bottom: 100px;

}
form input {
    margin-bottom: 20px;
    margin-left: 10px;
    border-radius: 5px;
    border: none;
    background-color: rgba(126, 125, 125, 0.384);
    min-height: 24px;
    width: 200px;
    cursor: pointer;
    
}

input[type="submit"] {
    width: 300px;
    margin-top: 40px;
    padding: 10px;
    font-size: 14px;
}

input[type="submit"]:hover {
    filter: brightness(80%);
}

input[type="submit"]:active {
    filter: brightness(100%) opacity(1px);
    transform: scale(0.98,0.98);
}

span {
    margin-bottom: 70px;
    font-size: 45px;
}
