.header{
    max-height: 20vh;
    margin-top: 0px;
    margin-bottom: 500px;
}
.top_header,.mid_header,.bottom_header{
    width: 60vw;
    margin-left: 20%;
    margin-right: 20%;
}
/*==================top_header============ */
.top_header{
    height: 30px;
    padding: 10px;
    border-bottom: 0.5px solid lightgrey;
    color: rgba(44, 44, 44, 0.76);
    font-size: 13px;
    
}
.top_header .left{
    float: left;
}
.top_header .right{
    float: right;
}
.top_header .right a{
    font-size: 13px;
    color: rgba(44,44,44,0.76);
    text-decoration: none;
    margin-right: 10px;
}
/* ======================================================= */
/* ====================== MID_HEADER ==================== */
/* ===================================================== */
.mid_header{
    height: 90px;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
}
.mid_header section:nth-child(1){
    grid-column: 1/2;
    color: white;
    font-size: 20px;
    font-weight: 600;
    height: 80px;
}
.mid_header section:nth-child(1) img{
    height: 80px;
    margin-top: 10px;
}
/* ------------ */
.mid_header section:nth-child(2){
    grid-column: 2/3;
    padding: 20px 20px;
}
.mid_header section:nth-child(2) .dropdown_menu{
    width: 150px;
    height: 40px;
    background-color: white;
    margin-right: 0;
    border: 0.2px solid rgba(218, 218, 218, 0.596);
    text-align: center;
    line-height: 40px;
    color: grey;    
    float: left;
}
.search input{
    width: 280px;
    height: 40px;
    margin-left: 0;
    border-radius: 0;
    border: 0.2px solid rgba(218, 218, 218, 0.596);
    border-left: none;
    color: rgba(172, 169, 169, 0.514);  
    float: left;
}
.search input:active{
    background: none;
    background-color: none;
}
.button_timkiem button{
    margin-left: 0px;
    height: 40px;
    width: 100px;
    color: white;
    background-color: black;
    font-size: small;
    margin-left: 0;
    border: none;
    text-align: center;
    line-height: 40px;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
}
.mid_header section:nth-child(2) .dropdown_menu ul{
    display: none;
}
.mid_header section:nth-child(2) .dropdown_menu:hover .cdm,
.mid_header section:nth-child(2) .dropdown_menu:active .cdm,
.mid_header section:nth-child(2) .dropdown_menu:focus .cdm {
    display: block;
    background-color: rgb(184, 185, 185);
    border: 0.4px solid grey;  
    border-radius: 5px;  
}
.mid_header section:nth-child(2) .dropdown_menu ul li{
    list-style: none;
    font-size: medium;
    font-weight: 100;
    display: block;
}
.mid_header section:nth-child(2) .dropdown_menu ul li:hover{
    cursor: pointer;
    filter: brightness(20%);
    color: white;
    transform: scale(1.1,1);
}
/* ----------------- */
.mid_header section:nth-child(3){
    grid-column: 3/4;
    padding: 20px;
}
.mid_header section:nth-child(3) i{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: rgb(187, 184, 184);
    float: left;
    text-align: center;
    line-height: 40px;
}
.mid_header section:nth-child(3) h10{
    float: right;
    font-weight: 400;
}
h11{
    font-size: 20px;
    font-weight: bold;
}
/* ======================================================= */
/* ====================== BOTTOM_HEADER ==================== */
/* ===================================================== */

/* section:nth-child(1) */
.bottom_header {
    max-height: 60px;
    background-color: rgb(238, 236, 236);
    margin-bottom: 100px;
    display: grid;
    grid-template-columns: 1fr 2.4fr 0.6fr;
}
.bottom_header section:nth-child(1) {
    grid-column: 1/2;
    height: 60px;
    width:100%;
    background-color: white;
    text-align: center;
    line-height: 60px;
    font-weight: 800;
    font-size: 17px;
    cursor: pointer;
}
.bottom_header section:nth-child(1) i{
    margin: 5px;
}
.bottom_header section:nth-child(1) a{
    display: none;
}
.bottom_header section:nth-child(1):active a,
.bottom_header section:nth-child(1):focus a,
.bottom_header section:nth-child(1):hover a {
    display: block;
    background-color: rgb(255, 255, 255);
    border: 0.5px solid white;
    color: black;
    text-decoration: none;
    font-size: 15px;
    text-align: center;
    height: 50px;
    line-height: 50px;
    border-radius: 3px;
}
/* ====================================================== */
                  /* section:nth-child(2) */
/* ==================================================== */                  
.bottom_header section:nth-child(2){
    grid-column: 2/3;
    height: 60px;
}
.bottom_header section:nth-child(2) ul{
    grid-column: 1/7;
    height: 60px;
    display: grid;
    grid-template-columns: repeat(6,16%);
}
.bottom_header section:nth-child(2) ul li{
    list-style: none;
    line-height: 60px;
    text-align: center;
    cursor: pointer;
}
.bottom_header section:nth-child(2) ul li:nth-child(1){
    grid-column: 1/2;
}
.bottom_header section:nth-child(2) ul li:nth-child(2){
    grid-column: 2/3;
}
.bottom_header section:nth-child(2) ul li:nth-child(3){
    grid-column: 3/4;
}
.bottom_header section:nth-child(2) ul li:nth-child(4){
    grid-column: 4/5;
}
.bottom_header section:nth-child(2) ul li:nth-child(5){
    grid-column: 5/6;
}
.bottom_header section:nth-child(2) ul li:nth-child(6){
    grid-column: 6/7;
    font-size: 12px;
    margin-left: 0;
    font-weight: 400;
}
/*  trang chu */
.bottom_header section:nth-child(2) ul li:nth-child(1) ul{
    display: none;
}
.bottom_header section:nth-child(2) ul li:nth-child(1):hover ul{
    display: block;
    background-color: white;
    width: 200px;  
    margin-left: 0;
    border: 0.3px solid grey;
}
.bottom_header section:nth-child(2) ul li:nth-child(1) ul li{
    text-align: left;
    padding-left: 10px;
}
.bottom_header section:nth-child(2) ul li:nth-child(1) ul li ul li,
.bottom_header section:nth-child(2) ul li:nth-child(1) ul li a,
.bottom_header section:nth-child(2) ul li:nth-child(1) ul li ul{
    display: none;
}
/* phong khach */
.bottom_header section:nth-child(2) ul li:nth-child(2) ul{
    display: none;
}
.bottom_header section:nth-child(2) ul li:nth-child(2):hover ul{
    display: block;
    background-color: white;
    width: 200px;  
    margin-left: 0;
    border: 0.3px solid grey;
}
.bottom_header section:nth-child(2) ul li:nth-child(2) ul li a{
    color: black;
    text-align: left;
    padding-left: 10px;
    text-decoration: none;
}
/*  phong an  */
/*  phong ngu */
.bottom_header section:nth-child(2) ul li:nth-child(3) ul,
.bottom_header section:nth-child(2) ul li:nth-child(4) ul{
    display: none;
}
.bottom_header section:nth-child(2) ul li:nth-child(3):hover ul,
.bottom_header section:nth-child(2) ul li:nth-child(4):hover ul{
    display: block;
    background-color: white;
    width: 200px;  
    margin-left: 0;
    border: 0.3px solid grey;
}







/* ================================================= */
                  /* section:nth-child(3) */
.bottom_header section:nth-child(3){
    grid-columns:3/4;   
}                                   
.bottom_header section:nth-child(3) a{
    font-weight: 900;
    color: #575454;
    text-decoration: none;
    text-align: center;
    line-height: 60px;
}
.bottom_header section:nth-child(3) a:hover,
.bottom_header section:nth-child(3) a:active{
    border-bottom: 0.3px solid rgb(0, 0, 0);
    color: black;
}