* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
}
form {
    margin-top: 1rem;
    padding: 2rem;
    border: 1px solid grey;
    min-width: 25vw;
    background-color: #eeed9f9c;
}