body{
    margin-top: 50px;
    font-family: Tahoma;
    font-size: 13px;
    width: 1000px;
    margin: 0px auto;
}
.box1{
    background: #666666;
    height: 100px;
    width: 1000px;
    text-align: center;
    font-size: 35px;
    font-weight: 500;
    color: #fff;
    line-height: 100px;

}
.main .left{
    width: 200px;
    background: #cccccc;
    float: left;
    min-height: 400px;
}
.main .left a{
    margin: 20px 100px auto 10px;
}
.main .right{
    width: 800px;
    background: #f1f1f1;
    float: left;
    min-height: 400px;
}
.main .right h1{
   color: #000;
   font-size: 25px;
   font-weight: 450; 
   margin: 20px auto 30px 20px;
}
.main .right p{
    margin: 10px auto auto 20px;
}
.footer{
    background: #777777;
    font-weight: 500;
    font-size: 25px;
    width: 1000px;
    text-align: center;
    height: 60px;
    color: #fff;
    clear: left;
    line-height: 60px;
}